<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.notify.app.mobile"
    android:versionCode="102"
    android:versionName="1.1">

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE" />


    <!--Push-->


    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <!--
      IMPORTANT: Change "com.parse.starter.permission.C2D_MESSAGE" in the lines below
      to match your app's package name + ".permission.C2D_MESSAGE".
    -->
    <permission
        android:name="com.notify.app.mobile.debug.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />
    <uses-permission android:name="com.notify.app.mobile.debug.permission.C2D_MESSAGE" />


    <!--Push End-->

    <application
        android:name=".BootstrapApplication"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@style/Theme.Bootstrap.Dark">
        <activity
            android:name=".ui.MainActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />


                <category android:name="android.intent.category.LAUNCHER" />

            </intent-filter>
        </activity>
        <activity
            android:name=".bootstrapOrigin.ui.BootstrapTimerActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:parentActivityName=".ui.MainActivity">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <!-- Both parent activity attributes have to contain the full package name -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.notify.app.mobile.ui.MainActivity" />
        </activity>

        <service
            android:name=".bootstrapOrigin.core.TimerService"
            android:enabled="true"
            android:exported="false" />
        <service
            android:name=".bootstrapOrigin.authenticator.AccountAuthenticatorService"
            android:process=":auth">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>

            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator" />
        </service>

        <activity
            android:name=".authenticator.BootstrapAuthenticatorActivity"
            android:excludeFromRecents="true">

            <intent-filter>


                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <!--
                No intent-filter here! This activity is only ever launched by
                someone who explicitly knows the class name
            -->
        </activity>
        <activity
            android:name=".authenticator.RegisterActivity"
            android:excludeFromRecents="true">

            <!--                 This activity is launched when the register button is clicked from login_activity. -->
        </activity>
        <activity android:name=".bootstrapOrigin.ui.NewsActivity"></activity>
        <activity
            android:name=".bootstrapOrigin.ui.UserActivity"
            android:label="@string/app_name"></activity>
        <activity
            android:name=".bootstrapOrigin.ui.TestActivity"
            android:label="@string/title_activity_test_"
            android:parentActivityName=".ui.MainActivity"></activity>

        <activity
            android:name=".ui.OldRatingActivity"
            android:label="@string/rating_activity"
            android:parentActivityName=".ui.MainActivity"></activity>
        <activity
            android:name=".ui.ExampleActivity"
            android:label="@string/title_example"></activity>
        <activity
            android:name=".ui.RatingActivity"
            android:label="Rating"></activity>

        <activity
            android:name=".ui.TechServiceActivity"
            android:label="@string/title_techservices"></activity>

        <activity
            android:name=".ui.RateUserActivity">
        </activity>

        <activity
            android:name=".ui.RequestServiceActivity"
            android:label="@string/title_requestservice"></activity>

        <activity
            android:name=".ui.EditPhotoActivity"
            android:label="@string/title_activity_edit_photo"></activity>

        <activity
            android:name=".ui.EditImageActivity"
            android:label="@string/title_activity_edit_image"></activity>

        <activity
            android:name=".ui.AddProfileActivity"
            android:label="@string/title_activity_edit_profile"></activity>

        <activity android:name=".ui.AddServiceActivity"></activity>

        <activity android:name=".ui.FilterServicesActivity"></activity>

        <activity android:name=".ui.RequestActivity"></activity>


        <!--Push-->

        <service android:name="com.parse.PushService" />

        <receiver
            android:name="com.notify.app.mobile.util.Receiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.parse.push.intent.RECEIVE" />
                <action android:name="com.parse.push.intent.DELETE" />
                <action android:name="com.parse.push.intent.OPEN" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.parse.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <!--
                  IMPORTANT: Change "com.parse.starter" to match your app's package name.
                -->
                <category android:name="com.notify.app.mobile.debug" />
            </intent-filter>
        </receiver>

        <meta-data
            android:name="com.parse.push.notification_icon"
            android:resource="@drawable/ic_launcher" />

    </application>

</manifest>
